* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 10px;
    background-color: rgb(241, 237, 232);
    border: 2px solid black;
    display: grid;
    grid-template-columns: 2rem, auto 10rem auto auto auto 2rem;
    grid-auto-rows: auto auto auto auto 10rem 10rem 10rem;
    gap: 5px;
}

.cabecera_chat {
    grid-column: 1/8;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    background-color: rgb(46, 154, 154);
    color: whitesmoke;
}
.cabecera_chat h2 {
    margin: .4rem;
}
.cabecera_chat .escribiendo {
    grid-column: 2/3;
    grid-row: 2/3;
}

.caja_mensajes {
    grid-column: 1/8;
    display: grid;
    grid-template-columns: auto auto 10rem auto auto .1rem;
    grid-template-rows: auto auto auto auto auto;
    gap: 5px;
    overflow-y: auto;
}

#box_msj_ajeno {
    grid-column: 1/2;
    display: flex;
    flex-direction: column
}
.foto_ajena {
    align-self: flex-start;
    background-color: darkgray;
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
}
.msj_ajeno {
    background-color: slategray;
    margin: 10px;
    border-radius: 1rem;
    text-align: center;
    color: azure;
    font-size: 16px;
    padding: 1vh;
}

#box_msj_propio{
    grid-column: 5/6;
    display: flex;
    flex-direction: column;
}
.foto_propia {
    align-self: flex-end;
    background-color: darkgray;
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    
}

.msj_propio_enviado{
    background-color: rgb(40, 197, 40);
    margin: 10px;
    border-radius: 1rem;
    text-align: center;
    color: azure;
    font-size: 16px;
    padding: 1vh;
}

#box_salida_entrada{
    grid-column: 3/4;
}

.entrada_chat {
    margin-bottom: 10px;
    color: #181818;
    background-color: rgba(123, 202, 192, 0.578);
    font-size: 17px;
    align-self: center;
}
.salida_chat {
    margin-bottom: 10px;
    background-color: rgb(159, 73, 73);
    color: #e9e7e7;
    font-size: 17px;
    align-self: center;
}

.caja_enviar_msj {
    grid-column: 1/8;
    display: grid;
    grid-template-columns: auto auto auto 2rem;
    gap: 5px;
}

.campo_mensaje {
    grid-column: 1/4;
    background-color: rgba(95, 158, 160, 0.8);
    border-radius: 20px;
    border-style: none;
    color: #181818;
    height: 1.5rem;
    margin-bottom: .2rem;
    padding: 1vh;
}
.campo_mensaje:hover {
    background-color: rgba(110, 180, 182, 0.8);
    transition: 0.2s;
}

#btn_enviar {
    grid-column: 4/5;
}
#btn_enviar {
    color: black;
    text-decoration: none;
}
#btn_enviar:hover {
    color: rgb(74, 74, 74);
    transition: 0.1s;
}